* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", serif;
    padding: 20px;
    background: #f6f6f6;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header small {
    top: -10px;
    font-size: 16px;
    position: relative;
}

.input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    height: 35px;
    border: 2px solid #d2d6ce;
    /* w-full p-2 mb-4 h-12 bg-transparent rounded ring-2 ring-gray-400 focus:ring-blue-600 focus:outline-none */
}

.input:focus {
    outline: none;
    border-color: #9abeff;
}

.button {
    display: block;
    width: 100%;
    height: 45px;
    background: #77ff6d;
    border-radius: 5px;
    border: 2px solid #67cd65;
    color: black;
}

.button:disabled {
    cursor: not-allowed;
    background: #c4ffb9;
    border-color: #93cd88;
}