:root {
    --background: #001233;
    --text: #fffeff;
    --border-radius: 25px;
    --button-background: #0466c9;
    --input-border: var(--button-background);
    --progress-color: #af3549;
}

@font-face {
    font-family: nfsw;
    src: url(./../fonts/nfs.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", serif;
    padding: 20px;
    background: var(--background);
    color: var(--text);
    overflow: hidden;
}

select, button, input {
    color: var(--text);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: nfsw;
}

.header small {
    top: -10px;
    font-size: 16px;
    position: relative;
    font-weight: 100;
}

.input {
    position: relative;
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto 10px;
    padding: 5px 10px;
    background: transparent;
    height: 35px;
    border: none;
    border-bottom: 1px solid var(--input-border);
}

.input:focus {
    outline: none;
}

.button {
    display: block;
    height: 35px;
    border: none;
    background: var(--button-background);
    position: relative;
    width: calc(100% - 45px);
    margin: 15px auto;
}

.button::before {
    position: absolute;
    display: block;
    background: inherit;
    width: 20px;
    height: 100%;
    content: " ";
    transform: skew(20deg);
    top: 0;
    left: -10px;
}

.button::after {
    position: absolute;
    display: block;
    background: inherit;
    width: 20px;
    height: 100%;
    content: " ";
    transform: skew(-20deg);
    top: 0;
    right: -10px;
}

.button:disabled {
    cursor: not-allowed;
}

.status-bar {
    position: absolute;
    bottom: -100%;
    transition: all 2s;
    width: 100%;
    left: 0;
    padding: 15px 20px 10px;
    background: #001d55;
    border-top: 1px solid var(--input-border);
}

.status-bar.is-visible {
    bottom: 0;
}

.status-bar progress {
    display: block;
    width: 100%;
    border-radius: 0;
    height: 5px;
    margin-bottom: 5px;
}

.status-bar progress::-webkit-progress-value {
    transition: all .5s;
    background: var(--progress-color);
}

.status-bar label {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 80%;
}